<div class="row mt-4">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="discordUserId" class="col col-form-label">Discord User Id:</label>
                            <input type="text" class="form-control" name="discordUserId" id="discordUserId"
                                value="{{model.discordOptions.userId}}" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="discordChannelId" class="col col-form-label">Discord Channel
                                Id:</label>
                            <input type="text" class="form-control" name="discordChannelId" id="discordChannelId"
                                value="{{model.discordOptions.channelId}}" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="discordGuildId" class="col col-form-label">Discord Guild
                                Id:</label>
                            <input type="text" class="form-control" name="discordGuildId" id="discordGuildId"
                                value="{{model.discordOptions.guildId}}" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>