<div class="row mt-4 justify-content-end">
    <div class="col-9">
        <div class="card">
            <div class="card-header">
                Initiative
            </div>
            <div class="card-body" id="display-symbols-card">
                <div class="row">
                    <div class="col">
                        <div class="btn-toolbar">
                            <div class="btn-group mr-2">
                                <button type="button" class="btn btn-outline-success" data-command="addCharacter">
                                    Add character
                                </button>
                            </div>
                            <div class="btn-group mr-2">
                                <button type="button" class="btn btn-outline-secondary" data-command="resetInit">
                                    Reset
                                </button>
                                <button type="button" class="btn btn-outline-secondary" data-command="saveInit">
                                    Save
                                </button>
                                <button type="button" class="btn btn-outline-secondary" data-command="loadInit">
                                    Load
                                </button>
                            </div>
                            <div class="input-group mr-2">
                                <input type="text" class="form-control text-right border-primary" value="NPC"
                                    id="rollAllInitByTypeValue" style="width: 100px;">
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-outline-primary"
                                        data-command="rollAllInitByType">
                                        Roll all
                                    </button>
                                    <button type="button" class="btn btn-outline-primary" data-command="sortInit">
                                        Sort
                                    </button>
                                    <button type="button" class="btn btn-outline-primary" data-command="displayInit">
                                        Display initiative
                                    </button>
                                </div>
                            </div>
                            <div class="input-group mr-2">
                                <input type="text" class="form-control text-right border-info" value="0"
                                    id="currentInit" style="width: 75px;">
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-outline-info" data-command="movePrevious">
                                        Previous
                                    </button>
                                    <button type="button" class="btn btn-outline-info" data-command="setInit">
                                        Set
                                    </button>
                                    <button type="button" class="btn btn-outline-info" data-command="moveNext">
                                        Next
                                    </button>
                                    <button type="button" class="btn btn-outline-info" data-command="displayInit">
                                        Display initiative
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">Name</div>
                    <div class="col">Init</div>
                    <div class="col">Type</div>
                    <div class="col">
                        <span title="Success symbol" class="genesys-symbol genesys-symbol-success"></span>
                    </div>
                    <div class="col">
                        <span title="Advantage symbol" class="genesys-symbol genesys-symbol-advantage"></span>
                    </div>
                    <div class="col">
                        <span title="Triumph symbol" class="genesys-symbol genesys-symbol-triumph"></span>
                    </div>
                    <div class="col">Actions</div>
                </div>
                {{#each model.characters}}
                {{> initiativeRow index=@index }}
                {{/each}}
            </div>
        </div>
    </div>
</div>