<form action="" method="post">
    <div class="row mt-4">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Initiative
                </div>
                <div class="card-body" id="display-symbols-card">
                    ...
                </div>
            </div>
        </div>
    </div>
</form>